* {
    font-family: 'Inder', sans-serif;
    ;
}

.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #2596be;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
}

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.btn-solar {
    background-color: #2596be;
}

/* Text Colors */
.head-text {
    color: #006d77;
}

.sub-text {
    color: #83c5be;
}

.light-text {
    color: #edf6f9;
}

.fs-10 {
    font-size: 80px;
}

@media (max-width: 767px) {
    .fs-10 {
        font-size: 40px;
    }
    .fs-9 {
        font-size: 30px;
    }
}

.fs-9 {
    font-size: 50px;
}

.fs-8 {
    font-size: 12px;
}

/* Background Colors */
.head-bg {
    background-color: #2596be;
}

.sub-bg {
    background-color: #83c5be;
}

.light-bg {
    background-color: #edf6f9;
}

/*  text colors */
.dark-7 {
    color: rgba(0, 0, 0, 0.7);
}

.dark-6 {
    color: rgba(0, 0, 0, 0.6);
}

.dark-5 {
    color: rgba(0, 0, 0, 0.5);
}

.dark-4 {
    color: rgba(0, 0, 0, 0.4);
}

.dark-3 {
    color: rgba(0, 0, 0, 0.3);
}

.border-r-20 {
    border-radius: 20px;
}

.border-r-30 {

    border-radius: 30px;
}

.border-r-40 {
    border-radius: 40px;
}

.banner-section {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 95vh;
    margin-top: 60px;
}
@media (max-width:768){
    .banner-section {
        height: 97vh;
        margin-top: 40px;
    }
}
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .overlay-button {
    background: none;
    border: none;
    color: #fff;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }